.canvas {
}

.svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  text {
    // rfont-size: 5px;
    text-transform: uppercase;
    transition: all ease 0.5s;
    // fill: var(--color-black);
  }

  &__text {
    text-anchor: middle;
    cursor: pointer;
    &__active {
      fill: var(--color-black);
    }
    &__cursor {
      cursor: pointer;
    }
  }

  &__categories {
    text-transform: uppercase;
    fill: var(--color-black);
  }

  line, path {
    stroke: var(--color-darkgray);
    stroke-width: 0.2;
  }
  
  &__externalnodes {
    stroke: var(--color-black) !important;
  }
}

.info {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  max-width: 849px;
  background-color: var(--color-gray);
  font-size: var(--font-size);
  
  &__header {
    color: var(--color-white);
    background-color: var(--color-black);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    &__close {
      cursor: pointer;
    }
  }

  &__body {
    padding: 30px 10px;
    height: calc(80vh - 30px);
    overflow-y: scroll;
  }
}

.about {
  &__content {
    padding: 30px 10px;
    &__big {
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 60px;
      }
    }

    &__columns {
      display: flex;
      gap: 10px;
      p {
        margin-bottom: 0px;
      }
    }

    &__first {
      &:hover {
        background-color: var(--color-green);
      }
    }
    &__second {
      &:hover {
        background-color: var(--color-yellow);
      }
    }
    &__third {
      &:hover {
        background-color: var(--color-purple);
      }
    }
    &__fourth {
      &:hover {
        background-color: var(--color-blue);
      }
    }
  }
}