.canvas {
  //position: relative;
}

.svg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  text {
    font-size: 5px;
    text-transform: uppercase;
    transition: all ease 0.5s;
    // fill: var(--color-black);
  }

  &__text {
    text-anchor: middle;
    cursor: pointer;
    &__active {
      fill: var(--color-black);
    }
    &__cursor {
      cursor: pointer;
    }
  }

  &__categories {
    text-transform: uppercase;
    fill: var(--color-black);
  }

  line, path {
    stroke: var(--color-darkgray);
    stroke-width: 0.5;
  }
  
  &__externalnodes {
    stroke: var(--color-black) !important;
  }
}

.info {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  max-width: 849px;
  background-color: var(--color-gray);
  
  &__header {
    color: var(--color-white);
    background-color: var(--color-black);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    &__close {
      cursor: pointer;
    }
  }

  &__body {
    font-weight: bold;
    padding: 30px 10px;
    height: calc(80vh - 30px);
    overflow-y: scroll;
  }
}