.aboutwrapper {
  &__subheader {
    position: fixed;
    width: 100%;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &__content {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 90px;
    color: #C5C5C5;
    font-weight: 300;

    &__title {
      margin-bottom: 20px;
    }

    &__cat {
      &:hover {
        .aboutwrapper__content__title {
          background-color: var(--color-blue);
          width: fit-content;
        }
        .aboutwrapper__content__cat__content {
          p {
            display: inline;
            background-color: var(--color-blue);
            box-shadow: 0px 0 0 var(--color-blue), 0px 0 0 var(--color-blue);
          }
        }
      }
    }
    
    &__es {
      &:hover {
        .aboutwrapper__content__title {
          background-color: var(--color-green);
          width: fit-content;
        }
        .aboutwrapper__content__es__content {
          p {
            display: inline;
            background-color: var(--color-green);
            box-shadow: 0px 0 0 var(--color-green), 0px 0 0 var(--color-green);
          }
        }
      }
    }
    
    &__en {
      &:hover {
        .aboutwrapper__content__title {
          background-color: var(--color-yellow);
          width: fit-content;
        }
        .aboutwrapper__content__en__content {
          p {
            display: inline;
            background-color: var(--color-yellow);
            box-shadow: 0px 0 0 var(--color-yellow), 0px 0 0 var(--color-yellow);
          }
        }
      }
    }
  }
}