.aboutwrapper {
  &__subheader {
    position: fixed;
    width: 100%;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--color-black);
    color: var(--color-white);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  &__content {
    display: flex;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 90px;

    &__title {
      margin-bottom: 20px;
    }

    &__cat {
      &:hover {
        background-color: var(--color-blue);
      }
    }
    
    &__es {
      &:hover {
        background-color: var(--color-green);
      }
    }
    
    &__en {
      &:hover {
        background-color: var(--color-yellow);
      }
    }
  }
}