/*
 * Akzidenz
 */
 @font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/Akzidenz/AkzidenzGroteskNextRegular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/Akzidenz/AkzidenzGroteskNextBold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'Akzidenz';
  src: url('/fonts/Akzidenz/AkzidenzGroteskNextMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}