.filters {
  position: relative;
  z-index: 1;
  color: var(--color-black);
  width: 100%;
  font-size: var(--font-size);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-gray);
  &__wrapper {
    background-color: var(--color-gray);
    height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }

  &__list {
    background-color: var(--color-gray);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    
    &__open {
      padding-top: 5px;
      padding-bottom: 5px;
      max-height: 500px;
    }

    &__wrapper {
      display: flex;
      gap: 50px;
      
      &__title {
        width: 150px;
      }
      
      &__items {
        display: flex;
        gap: 20px;
        &__item {
          padding-left: 5px;
          padding-right: 5px;
          cursor: pointer;
        }
      }
    }
  }
}