.filters {
  position: relative;
  z-index: 1;
  color: var(--color-black);
  width: 100%;
  font-size: var(--font-size);
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--color-gray);
  &__wrapper {
    background-color: var(--color-gray);
    height: 30px;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    &__sign {
      display: inline-block;
      transition: all ease 0.5s;
      transform: rotate(0deg);
      &__close {
        transform: rotate(45deg);
      }
    }
  }

  &__list {
    background-color: var(--color-gray);
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    
    &__open {
      padding-top: 5px;
      padding-bottom: 5px;
      max-height: 500px;
    }

    &__wrapper {
      display: flex;
      gap: 50px;
      
      &__title {
        width: 150px;
      }
      
      &__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        &__item {
          padding-left: 5px;
          padding-right: 5px;
          min-width: 190px;
          cursor: pointer;

          &__sign {
            display: inline-block;
            transition: all ease 0.5s;
            transform: rotate(0deg);
            &__close {
              transform: rotate(45deg);
            }
          }

        }
      }
    }
  }

  &__activelist {
    background-color: var(--color-white);
    color: var(--color-black);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    &__open {
      max-height: 200px;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 10px 5px;
      column-gap: 20px;
      row-gap: 5px;

      &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 5px;
        line-height: 0;
        
        &__remove {
          cursor: pointer;
        }
      }
    }
  }
}